.DS_Store
.vscode/
Thumbs.db
*.log
.zip

/build/
.dart_tool/

.packages
.flutter-plugins
.flutter-plugins-dependencies

/.pub-cache/

/android/local.properties
/android/.gradle
/android/build/
/android/**/.iml
/android/captures/
/android/.externalNativeBuild
/android/app/src/main/assets/flutter_assets/ # Généré, pas nécessaire

/android/app/build/
/.apk
/.aab
/.ipa

/android/key.properties
/android/key.jks

/ios/.symlinks/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/podhelper.rb
/ios/.generated
/macos/build/
/macos/Flutter/GeneratedPluginRegistrant.swift

.ios/Flutter/App.framework/
.ios/Flutter/Flutter.framework/
.ios/Pods/
.ios/Runner.xcworkspace/
.ios/Runner.xcodeproj/project.xcworkspace
.ios/Runner.xcodeproj/xcuserdata/

/web/index.html.tmp
/web/flutter_bootstrap.js

*.enc
*.key
*.pem

text
App/build/
.apk
